{% if workers_list %}

<ul>
    {% for worker in workers_list %}
    <div>
        <h2><a href="{% url 'classified:detail' worker.id%} ">{{ worker.first_name }} {{ worker.last_name }}</a></h2>
        <div>{{ worker.type }}</div>
        <div>${{ worker.hourly_rate }} /hr</div>

        

        {% comment %} {% for opinion in worker.opinion_set.all %}
        <div>{{ opinion.rating }}: {{ opinion.op }}</div>
        
        {% endfor %} {% endcomment %}

        
        

        <br>
    </div>
    {% endfor %}
    
</ul>

{% endif %}